[submodule "panda"]
  path = panda
  url = https://github.com/Dennis-NL/panda.git
	branch = vw-mlb-7
[submodule "opendbc"]
  path = opendbc_repo
  url = ../../commaai/opendbc.git
[submodule "msgq"]
  path = msgq_repo
  url = ../../commaai/msgq.git
[submodule "rednose_repo"]
  path = rednose_repo
  url = https://github.com/Dennis-NL/rednose.git
[submodule "teleoprtc_repo"]
  path = teleoprtc_repo
  url = ../../commaai
[submodule "opendbc_repo"]
	branch = vw-mlb-7
